.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .App__lista{
        .App__lista__item{
            text-align: center;
        }
    }
}