.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main{
        // height: calc(100vh - 140px);
        margin-top: 180px;
        width: 100vw;
    }
}

@media only screen and ( min-width:660px )  {
    
    .App{
        .main{
            margin-top: 140px;
        }
    }
}