
.lista__pokemon-li{

    width: 150px;
    height: 200px;
    position: relative;

    .lista__pokemon-item{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border: 0.5px solid black;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        background-image: url('../assets/fondo-card/FONDO_CARD.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotateY(90deg);
        transition: transform 1s;

        .lista__item-img-container{
            width: 90%;
            height: 70%;
            transform: translateY(-30%);
            opacity: 0;
            transition: transform 1s, opacity 1s;
    
            .lista__item-img{
                width: 95%;
                height: 95%;
                object-fit: contain;
            }
        }
        
    
        .lista__item-id{
            position: absolute;
            left: 7px;
            top: 5px;
            margin: 0;
        }
    
        .lista__item-name{
            margin: 0;
        }
    
        .lista__item-like{
            font-size: 2.5rem;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    
    }

    &.in{
        
        .lista__pokemon-item{
            transform: rotateY(0deg);

            .lista__item-img-container{
                transform: translateY(0%);
                    opacity: 1;
        
                // .lista__item-img{
                    
                    
                // }

            }
            
        }
    }
}


