
.lista__pokemon-li{

    width: 150px;
    height: 200px;
    position: relative;

    .lista__item-cargando{
        font-size: 1rem;
        position: absolute;
        top: calc(50% - 1rem);
        width: 100%;
        text-align: center;
    }
    .lista__pokemon-item{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        border: 0.5px solid black;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        background-image: url('../assets/fondo-card/FONDO_CARD.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        animation: rotacion 1s;
    
        .item__pokebola{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    
        .lista__item-img-container{
            width: 90%;
            height: 70%;
    
            .lista__item-img{
                width: 95%;
                height: 95%;
                object-fit: contain;
                animation: aparicion 1.5s;
            }
        }
        
    
        .lista__item-id{
            position: absolute;
            left: 7px;
            top: 5px;
            margin: 0;
        }
    
        .lista__item-name{
            margin: 0;
        }
    
        .lista__item-like{
            margin: 0;
        }
    
    }
}

@keyframes aparicion {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes rotacion {
    0%{
        transform:rotateY(90deg)
    }
    100%{
        transform: translateY(0deg);
    }
}
