.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 1px 7px black;
    .header__img{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 100%;
        }
    }

    .nombre{
        text-align: center;
    }
    .App__lista{

        width: 100%;
        margin: 0;
        position: relative;
        background-image: url('../assets/imagen_header/nubes_header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        .App__lista__item{
            // z-index: 1;
            text-align:left;
            height: 35px;
            background-color: tomato;
            position: relative;
            transition: width 1.5s;
            .App__lista__item-link{
                position: absolute;
                text-decoration: none;
                width: 500px;
                font-size: 1.5rem;
                font-weight: 700;
                margin-left: 2rem;
                font-style: italic;
                color: black;
            }

            &:active{
                transform: translateX(5px);
            }
            

        }

        .lista__imagen{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
}