.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 1px 7px black;
    .header__img{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: tomato;
        img{
            height: 100%;
        }
    }

    .nombre{
        text-align: center;
    }
    .App__lista{

        width: 100%;
        margin: 0;
        position: relative;
        background-image: url('../assets/imagen_header/nubes_header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 1s;

        .App__lista__item{
            // z-index: 1;
            text-align:left;
            height: 35px;
            background-color: tomato;
            position: relative;
            transition: width 1.5s;

            &:nth-child(1){
                animation: 2s both inItemLista;
            }

            &:nth-child(2){
                animation: 2s both inItemLista 0.5s;
            }

            &:nth-child(3){
                animation: 2s both inItemLista 1s;
            }

            &:nth-child(4){
                animation: 2s both inItemLista 1.5s;
            }
            

            .App__lista__item-link{
                position: absolute;
                text-decoration: none;
                width: 500px;
                font-size: 1.5rem;
                font-weight: 700;
                margin-left: 2rem;
                font-style: italic;
                color: black;
                z-index: 2;

                span{

                    position: relative;

                    .link__star{
                        position: absolute;
                        font-size: 2rem;
                        bottom: 0px;
                        transition: all;

                        &.link__star-play{
                            animation: starAnimation 1s  ;
                        }
                    }
                }
                
            }

            &:active{
                transform: translateX(5px);
            }
            

        }

        .lista__imagen{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            // z-index: 0;
            animation: 2s both inImagen 1.5s;
        }
    }
}

@keyframes starAnimation {
    0%{
        transform:scale(1);
        filter: drop-shadow( 0 0 0 tomato);
    }
    50%{
        transform:scale(1.5);
        filter: drop-shadow( 0 0 10px tomato);
    }
    100%{
        transform: scale(1);
        filter: drop-shadow( 0 0 0 tomato);
    }
    
}

@keyframes inImagen {
    0%{
        right: -70%;
        opacity: 0;
    }
    100%{
        right: 0;
        opacity: 1;
    }
    
}

@keyframes inItemLista {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media only screen and ( min-width:768px )  {
    
    .header{

        .header__img{
            z-index: 10;
            position: absolute;
            bottom: -30px;
            left: calc(50% - 90px);
            z-index: 1;
            width: 180px;
            height: 100px;
        }

    }
}