.home{
    width: 100vw;
    height: calc(100vh - 140px);
    // background-image: url('../assets/fondo_home/FONDO_HOME.jpg');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size:cover

    background-image: url('../assets/fondo_home/FONDO_HOME.jpg');
    background-attachment: fixed;
    background-position-x:center;
    background-position-y:bottom;
    background-size:cover;
    background-repeat: none;
}

