.info__stats__item{
    width: 100%;
    // padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;

    .info__stats__item-titulo{
        font-size:  1.8rem;
        margin: 0;
    }

    .info__stats__item-valor{
        margin: 0;
        font-size:  1.5rem;
    }

}

@media only screen and ( min-width:660px )  {
    .info__stats__item{
        .info__stats__item-titulo{
            font-size:  1rem;
        }
    
        .info__stats__item-valor{
            font-size:  0.8rem;
        }
    }
}

@media only screen and ( min-width:992px )  {
    .info__stats__item{
        .info__stats__item-titulo{
            font-size:  1.3rem;
        }
    
        .info__stats__item-valor{
            font-size:  1.1rem;
        }
    }
}