.lista__pokemon-container{
    width: 100vw;

    .lista__pokemon-header{
        // padding-bottom: 1rem;
        .lista__pokemon-babecera{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 1rem 0 1rem;


            .lista__pokemon-titulo{
                font-size: 2.5rem;

            }
        }

        .lista__pokemon-paginas{
            padding: 1rem 0 1rem 0;
            background-color: rgb(248, 238, 104);
        }
        
    }

    .lista__pokemon{
        // width: 95%;
        padding: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        // background-image: url('../assets/fondo_home/FONDO_HOME.jpg');
        // background-attachment: fixed;
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size:cover
        
    }

}