.likes__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .likes__name{
        font-size: 3rem;
    }

    .likes__lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        width: 100%;

    }
}