.lista__pokemon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .lista__pokemon-titulo{
        font-size: 2.5rem;
    }

    .lista__pokemon{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}