.lista__pokemon-container{
    width: 100vw;

    .lista__pokemon-header{
        // padding-bottom: 1rem;

        .lista__pokemon-babecera{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            .lista__pokemon-titulo{
                font-size: 2.5rem;

            }
        }

        .lista__pokemon-paginas{
            padding: 0.2rem 0;
            background-color: rgb(248, 238, 104);
            display: flex;
            justify-content: center;
        }
        
    }

}

@media only screen and ( min-width:660px )  {
    .lista__pokemon-container{
    
        .lista__pokemon-header{
            .lista__pokemon-babecera{
                padding: 0 5rem;
            }
        }
    }   
}