.lista__pokemon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .lista__pokemon-titulo{
        font-size: 2.5rem;
    }

    .lista__pokemon{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .lista__pokemon-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            border: 0.5px solid black;
            width: 150px;
            // height: 200px;

            .lista__item-img-container{
                width: 70%;

                .lista__item-img{
                    width: 100%;
                }
            }
            

            .lista__item-id{
                margin: 0;
            }

            .lista__item-name{
                margin: 0;
            }

            .lista__item-like{
                margin: 0;
            }

        }
    }

    .button__cargar{
        width: 80%;
        height: 50px;
        font-size: 1.5rem;
        border-radius: 15px;
        border: 1px grey solid;
        color: white;
        background-color: blue;
    }

}