.item_sinFoto{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;

    .item_sinFoto-texto{
        width: 100%;
        height: 100%;
        position: absolute;
        font-weight: 500;
        text-align: center;
        top: 50%;
        color: white;
        opacity: 0.5;

    }

    .item_sinFoto-imagen{
        position: absolute;
        width: 100%;
        opacity: 0.5;
    }
}